.env
neuraltts-*.json
.vscode/
__pycache__/
tts_segments/
venv/
Tests/
desktop.ini
recording.wav
tts.mp3
tts.wav
Speech Misrecognition.wav
Speech Off.wav
Speech On.wav
Speech Sleep.wav
prompts.txt
config.json
config.backup.json
memory.json
