openai==0.28
gtts
pyaudio
python-osc
elevenlabs==0.1.1
python-dotenv
openai-whisper
faster-whisper
ffmpeg-python
google-cloud-texttospeech
pynput
pyttsx3
customtkinter
SpeechRecognition
librosa
scipy
soundfile
psutil
ultralytics
opencv-python
huggingface-hub
bshot
torch
transformers
sentence-transformers
numpy==1.26.4