openai==0.28
gtts
pyaudio
python-osc
elevenlabs==0.1.1
python-dotenv
openai-whisper
faster-whisper
ffmpeg-python
google-cloud-texttospeech
pynput
pyttsx3
customtkinter
SpeechRecognition
librosa
soundfile
--extra-index-url https://download.pytorch.org/whl/cu121
torch
numpy